@use "../_global" as *;

.m-hamburger {
  --_width--hamburger: 50;
  --_height--hamburger: 40;
  --_color--hamburger-line: blue;
  --_spacing--hamburger-line: 7;
  --_width--hamburger-line: 20;
  --_height--hamburger-line: 2;
  --_duration: var(--duration__base);

  position: relative;
  width: rem(var(--_width--hamburger));
  height: rem(var(--_height--hamburger));
}

.m-hamburger__line {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: block;
  transition:
    top var(--_duration),
    rotate var(--_duration),
    opacity var(--_duration);
  width: rem(var(--_width--hamburger-line));
  height: rem(var(--_height--hamburger-line));
  background-color: var(--_color--hamburger-line, currentColor);
}

.m-hamburger__line:nth-of-type(1) {
  top: calc(50% - rem(var(--_spacing--hamburger-line)));
}

.m-hamburger__line:nth-of-type(2) {
}

.m-hamburger__line:nth-of-type(3) {
  top: calc(50% + rem(var(--_spacing--hamburger-line)));
}

// 開いた時
.m-hamburger[aria-expanded="true"] .m-hamburger__line {
}

.m-hamburger[aria-expanded="true"] .m-hamburger__line:nth-of-type(1) {
  top: 50%;
  rotate: 45deg;
}
.m-hamburger[aria-expanded="true"] .m-hamburger__line:nth-of-type(2) {
  opacity: 0;
}
.m-hamburger[aria-expanded="true"] .m-hamburger__line:nth-of-type(3) {
  top: 50%;
  rotate: -45deg;
}
