// hoverミックスインの使い方
// 例:
// .button {
//   @include hover {
//     color: red;
//   }
// }

@mixin hover {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  &:focus-visible {
    @content;
  }
}
